.t-wrapper {
  //  *{
  //     outline: 1px solid yellow;
  // }
  // 漸層
  .s-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -2;
    // ------     ------     ------     ------
    background: linear-gradient(155deg, #07155f, #0a9483, #4713ae);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 90s ease infinite;
    -moz-animation: AnimationName 90s ease infinite;
    animation: AnimationName 90s ease infinite;
  }

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 4%;
    }
    50% {
      background-position: 100% 97%;
    }
    100% {
      background-position: 0% 4%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 4%;
    }
    50% {
      background-position: 100% 97%;
    }
    100% {
      background-position: 0% 4%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0% 4%;
    }
    50% {
      background-position: 100% 97%;
    }
    100% {
      background-position: 0% 4%;
    }
  }
  // 流星

  .t-stars {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    // ------     ------     ------     ------
    $n: 15; // 流星數量
    $s: 300; // star數量

    $shadow: ();

    @for $i from 1 through $s {
      $x: random(1920);
      $y: random(1000);
      $shadow: $shadow, ($x + px $y + px #fff) !global;
    }

    .star {
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: $shadow;
    }

    @for $i from 1 through $n {
      $v: random(90) + 9; // left
      $h: random(250) + 50; // top
      $d: random(70) / 10 + 4; // 秒數
      .meteor-#{$i} {
        position: absolute;
        top: $h + px;
        left: $v * 1%;
        width: 300px;
        height: 1px;
        transform: rotate(-40deg);
        background-image: linear-gradient(
          to right,
          #fff,
          rgba(255, 255, 255, 0)
        );
        animation: meteor $d + s linear infinite;
        &:before {
          content: "";
          position: absolute;
          width: 4px;
          height: 5px;
          border-radius: 50%;
          margin-top: -2px;
          background: rgba(#fff, 0.7);
          box-shadow: 0 0 15px 3px #fff;
        }
      }
    }

    @keyframes meteor {
      0% {
        opacity: 1;
        margin-top: -300px;
        margin-right: -300px;
      }
      12% {
        opacity: 0;
      }
      15% {
        margin-top: 300px;
        margin-left: -600px;
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
  }
  .t-section1 {
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
    overflow: hidden;
    &-star {
      width: 1920px;
      height: 1040px;
      position: absolute;
      & .opacity {
        opacity: 0.2;
        transition: 1s cubic-bezier(0.25, 0.1, 0.25, 1);
        &:hover {
          opacity: 1;
          transition: 1s cubic-bezier(0.25, 0.1, 0.25, 1);
        }
      }

      .star1 {
        position: absolute;
        top: 0;
        margin-top: 150px;
        left: whForPC(300);
      }
      .star2 {
        position: absolute;
        top: 0;
        margin-top: whForPC(450);
        left: whForPC(150);
      }
      .star3 {
        position: absolute;
        top: 0;
        margin-top: whForPC(804);
        left: whForPC(115);
      }
      .star4 {
        position: absolute;
        top: 0;
        margin-top: whForPC(720);
        left: whForPC(570);
      }
      .star5 {
        position: absolute;
        top: 0;
        margin-top: whForPC(480);
        left: whForPC(400);
      }
      .star6 {
        position: absolute;
        top: 0;
        margin-top: whForPC(460);
        left: whForPC(1240);
      }
      .star7 {
        position: absolute;
        top: 0;
        margin-top: whForPC(190);
        left: whForPC(1100);
      }
      .star8 {
        position: absolute;
        top: 0;
        margin-top: whForPC(640);
        left: whForPC(1020);
      }
      .star9 {
        position: absolute;
        top: 0;
        margin-top: whForPC(130);
        left: whForPC(1420);
      }
      .star10 {
        position: absolute;
        top: 0;
        margin-top: whForPC(735);
        left: whForPC(1500);
      }
      .star11 {
        position: absolute;
        top: 0;
        margin-top: whForPC(300);
        left: whForPC(1640);
      }
      .star12 {
        position: absolute;
        top: 0;
        margin-top: whForPC(400);
        left: whForPC(760);
      }
    }
    .rocket {
      // margin: 0 48vw;
    }
    .rocket img {
      display: block;
      width: 60px;
      padding: 650px 0 85px;
      margin: 0 auto;
    }
    .ufo {
      position: absolute;
      bottom: 20%;
      right: 0;
      a {
        text-decoration: none;
        display: block;
        color: rgb(245, 243, 243);
        cursor: pointer;
      }
      img {
        width: 60px;
      }
      .cloud {
        height: 80px;
        width: 105px;
        background-image: url(#{$a}index/text_box1.svg);
        background-repeat: no-repeat;
        background-size: 100px;
      }
      .cloud p {
        color: #000;
        font-size: 16px;
        line-height: 90px;
        padding-left: 12%;
      }
    }
  }

  .t-section2 {
    width: 100vw;
    overflow: hidden;
    position: relative;
    .t-text {
      padding: 20px;
      img {
        display: block;
        max-width: 650px;
        width: 100%;
        margin: 0 auto;
      }
      p {
        max-width: 580px;
        width: 100%;
        color: rgb(241, 241, 241);
        line-height: 1.6;
        letter-spacing: 2px;
        text-align: center;
        display: block;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 120px;
        font-size: $h3;
      }
    }

    .monster {
      max-width: 670px;
      // width: 100%;
      margin: 0 auto;
      margin-bottom: 250px;
      @include pad {
        max-width: 380px;
        margin: 0 auto;
      }
      @include mobile {
        max-width: 251px;
      }
    }
    .monster .scorpio {
      max-width: 160px;
      @include pad {
        display: none;
      }
    }
    .monster .first {
      @include pad {
        display: none;
      }
    }
    .monster img {
      max-width: 120px;
      @include pad {
        width: 100%;
      }
      @include mobile {
        max-width: 80px;
      }
      transition: 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
      &:hover {
        // gsap.to(graph, { duration: 2.5, ease: "back.out(1.7)", y: -500 });
        transform: translateY(-50px);
        transition: 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
      }
      &:hover img {
        // transform: translateY(-50px);
        // transition: .6s ease-in-out;
      }
    }
    .left-monster {
      width: 180px;
      position: absolute;
      top: 50%;
      left: whForPC(-80);
      @include md {
        display: none;
      }
    }
    .right-monster {
      width: 160px;
      position: absolute;
      bottom: 10%;
      right: whForPC(-80);
      @include md {
        display: none;
      }
    }
  }
  .t-section3 {
    .star-svg {
      // max-width: 1920px;
      width: 100%;
    }
    overflow: hidden;
    .top-clouds {
    }
    .svg {
      width: 100%;
      height: 120vh;
    }
  }

  .i-section4 {
    position: relative;
    text-align: right; //只對inline-block有用
    padding: 200px 0 150px;
    margin-bottom: 250px;

    //此區塊做定位且稱寬高
    .i-section4-earth {
      position: relative;
      display: inline-block; //變成行內元素
      right: 0;
      width: whForPC(850);

      .icon_capricorn {
        width: whForPC(225, 850);
        position: absolute;
        margin-top: whForPC(-120, 850);
        left: whForPC(120, 850);
      }
      .icon_Taurus {
        width: whForPC(225, 850);
        position: absolute;
        margin-top: whForPC(90, 850);
        left: whForPC(-290, 850);
      }
      .icon_virgo {
        width: whForPC(225, 850);
        position: absolute;
        margin-top: whForPC(340, 850);
        left: whForPC(-380, 850);
      }
      .planet {
        width: 100%;
        position: relative;
        visibility: hidden;

        //讓圖片撐滿
        img {
          width: 100%;
        }
        &.earth {
          visibility: visible;
          width: whForPC(1737, 850);
          transform: translate(-47.7%, -52%) rotate(-20deg);
          position: absolute;
          top: 50%;
          left: 50%;
        }
        &.capricorn {
          position: relative;
          visibility: visible;

          .planet-monst-capricorn {
            filter: drop-shadow(13px 10px 7px rgba(0, 0, 0, 0.4));
            width: whForPC(230, 850);
            position: absolute;
            left: 35%;
            top: 0;
            margin-top: 30%;
          }
        }
        &.taurus {
          position: absolute;
          top: 0;

          .planet-monst-taurus {
            filter: drop-shadow(13px 10px 7px rgba(0, 0, 0, 0.4));
            width: whForPC(230, 850);
            position: absolute;
            left: 35%;
            top: 0;
            margin-top: 30%;
          }
        }
        &.virgo {
          position: absolute;
          top: 0;

          .planet-monst-irgo {
            filter: drop-shadow(13px 10px 7px rgba(0, 0, 0, 0.4));
            width: whForPC(230, 850);
            position: absolute;
            left: 35%;
            top: 0;
            margin-top: 30%;
          }
        }
      }
    }
  }
  @include rwd1260 {
    .i-section4-earth {
      img {
        width: 180px;
      }
    }
  }

  @include md {
    .i-section4 {
      .i-section4-earth {
        width: whForPC(1200);
        margin-right: -100px;
      }
      img {
        width: 160px;
      }
    }
  }

  @include mobile {
    .i-section4 {
      .i-section4-earth {
        //變成行內元素
        width: wh(400);
        margin-right: wh(-120);
        img {
          width: 130px;
        }

        .icon_capricorn {
          width: wh(250);
          margin-top: wh(-130);
          left: wh(-10);
        }
        .icon_Taurus {
          width: wh(250);
          margin-top: wh(-75);
          left: wh(-80);
        }
        .icon_virgo {
          width: wh(250);
          margin-top: wh(-20);
          left: wh(-160);
        }
        .planet {
          &.earth {
            width: wh(690);
            transform: translate(-47.7%, -52%) rotate(-20deg);
            top: 50%;
            left: 50%;
          }
          &.capricorn {
            .planet-monst-capricorn {
              width: wh(120);
              left: 25%;

              margin-top: 25%;
            }
          }
          &.taurus {
            .planet-monst-taurus {
              width: wh(120);
              left: 25%;

              margin-top: 25%;
            }
          }
          &.virgo {
            .planet-monst-irgo {
              width: wh(120);
              left: 25%;

              margin-top: 25%;
            }
          }
        }
      }
    }
  }

  .i-section5 {
    position: relative;
    text-align: left;
    padding: 300px 0 150px;

    .i-section5-wind {
      display: inline-block;
      position: relative;
      left: 0;
      width: whForPC(850);

      .icon_libra {
        width: whForPC(225, 850);
        position: absolute;
        margin-top: whForPC(-150, 850);
        right: whForPC(80, 850);
      }
      .icon_aquarius {
        width: whForPC(225, 850);
        position: absolute;
        margin-top: whForPC(70, 850);
        right: whForPC(-300, 850);
      }
      .icon_gemini {
        width: whForPC(225, 850);
        position: absolute;
        margin-top: whForPC(455, 850);
        right: whForPC(-446, 850);
      }
      .planet {
        width: 100%;
        position: relative;
        visibility: hidden;
        img {
          width: 100%;
        }
        &.wind {
          visibility: visible;
          position: absolute;
          width: whForPC(1890, 850);
          top: 50%;
          left: 50%;
          transform: translate(-49.1%, -42.4%) rotate(15deg);
        }
        &.libra {
          visibility: visible;
          position: relative;
          // visibility: hidden;
          .planet_monst_libra {
            position: absolute;
            filter: drop-shadow(13px 10px 7px rgba(0, 0, 0, 0.4));
            width: whForPC(230, 850);
            top: 0;
            margin-top: 30%;
            right: 32%;
          }
        }
        &.aquarius {
          position: absolute;
          top: 0;

          .planet_monst_aquarius {
            position: absolute;
            width: whForPC(230, 850);
            top: 0;
            margin-top: 30%;
            right: 32%;
          }
        }
        &.gemini {
          position: absolute;
          top: 0;

          .planet_monst_gemini {
            position: absolute;
            width: whForPC(230, 850);
            top: 0;
            margin-top: 30%;
            right: 32%;
          }
        }
      }
    }
  }

  @include rwd1260 {
    .i-section5-wind {
      img {
        width: 180px;
      }
    }
  }

  @include md {
    .i-section5 {
      .i-section5-wind {
        width: whForPC(1200);
        margin-left: -100px;
      }
      img {
        width: 160px;
      }
    }
  }

  @include mobile {
    .i-section5 {
      .i-section5-wind {
        //變成行內元素
        width: wh(400);
        margin-right: wh(-120);
        img {
          width: 130px;
        }

        .icon_libra {
          width: wh(250);
          margin-top: wh(-130);
          left: wh(130);
        }
        .icon_aquarius {
          width: wh(250);
          margin-top: wh(-85);
          left: wh(210);
        }
        .icon_gemini {
          width: wh(250);
          margin-top: wh(-30);
          left: wh(290);
        }
        .planet {
          &.wind {
            width: wh(690);

            top: 50%;
            left: 50%;
          }
          &.libra {
            .planet_monst_libra {
              width: wh(120);
              left: 35%;

              margin-top: 25%;
            }
          }
          &.aquarius {
            .planet_monst_aquarius {
              width: wh(120);
              left: 35%;

              margin-top: 25%;
            }
          }
          &.gemini {
            .planet_monst_gemini {
              width: wh(120);
              left: 35%;

              margin-top: 25%;
            }
          }
        }
      }
    }
  }
}
