.jl-m1-header{
  height: 140px;
  background-color: #023553;
}

.jl_wrapper1{

  background-image: url(../../images/horoscope_page/match1_bg.png);

  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  position: absolute;
  color:#D6E0F7;
  text-decoration: none;

  .jl_section1 {
  position:relative;
  // border: 5px solid red;
  margin-top: 15%;
  margin-left: 25%;

  h2{
    color:#D6E0F7;
    font-size: $h1;
    text-align: center;
    text-decoration: none;
  }
}

.jl_section1_planet{
  width:100%;
  max-width: 600px;
}

.jl_section1txt a{
  color:#D6E0F7;
  font-size: $h1;
  text-align: center;
  text-decoration: none;
  position:absolute;
  top:45%;
  left: 22%;
}



.jl_section2 {
  // position:absolute;
  font-size: $h1;
  text-align: center;
  // margin-top:30%;
  margin-left: 46%;
  padding-bottom: 10%;
  // border: 2px solid yellow;

  h2{
    color:#D6E0F7;
    font-size: $h1;
    text-align: center;
    text-decoration: none;
  }

}

.jl_section2_planet{
  width:100%;
  max-width: 1000px;
}

.jl_section2txt{
  color:#D6E0F7;
  font-size: $h1;
  text-align: center;
  text-decoration: none;
  position:absolute;
  top: 63%;
  right:9%;

  a, h3, h4{
    text-decoration: none;
    color:#D6E0F7;
  }
  }


  .jl-footer{
    width: 100%;
    height: 200px;
    background-color: #44796A;
  }





  //nav-list 所在頁面樣式
      .overlaymenu{
          .menulist{
              .nav-menu{
                  ul{
                      li:nth-child(3){
                          a{
                              color: yellow;
                          }
                      }
                  }
              }
          }
      }

}
 // end of jl_wrapper1


