.jl_wrapper3{
    margin-top: 140px;
    background-image: url(../images/horoscope_page/match3_bg.png); 
    max-width:1920px;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    color: #B6C9F0;

    
    // border: 1px transparent solid;

    .jl_top_fix{
      overflow:hidden;
    }

    .jl_match_percent{
      margin-top: 2%;
      margin-left: 15%;
      text-align: center;
      // display:inline-block;

      width: 150px;
      height: 150px;
      border-top: 10px $textColor double;
      border-left: 5px $textColor dashed;
      border-right: 5px $textColor dashed;
      border-bottom: 10px $textColor double;
      border-radius: 50%;

      h4{
        margin-top: 30%;
        font-size: $h2;
      }
      h2{
        color: red;
        font-size: $h2;
        font-weight: bolder;
      }
    }


    .jl_pros h3{
      margin: -10% 5% 0 60%;
      font-size: $p1;
      padding: 2%;
      
      // height: 150px;
      border-top: 10px $textColor double;
      border-left: 3px $textColor dashed;
      border-right: 3px $textColor dashed;
      border-bottom: 10px $textColor double ;
      border-radius: 40px;
    }



    .jl_monster_combine{

      margin: 0 auto;
      width:300px;
      display: flex;
      // border: 4px solid yellow;
    }

    .jl_left_monster img{
      // border: 1px solid green;
    }

    .jl_right_monster img{
      // margin-top: 0%;
      // width:120%;
      // border:1px solid yellow;
    }


    .jl_cons{
      margin: -5% 5% 0 55%;
      padding: 2%;
      font-size: $p1;
      border-top: 10px $textColor double;
      border-left: 3px $textColor dashed;
      border-right: 3px $textColor dashed;
      border-bottom: 10px $textColor double;
      border-radius: 40px;
    }



    .jl_buy{
      margin: -20%;
      text-align: center;
      margin-left: 5%;
      display: inline-block;
      font-size: $h2;
      // border: 3px solid red;

      h2{
        margin-bottom: 2%;
      }

      .jl_lucky_charm_box{
        border-top: 10px $textColor double;
        border-left: 3px $textColor dashed;
        border-right: 3px $textColor dashed;
        border-bottom: 10px $textColor double ;
        border-radius: 40px;
        padding:5%;
        
        img{

          width: 100%;
          // border: 5px solid pink;
        }

      }

    }


      .jl_match_comments{
        margin: 5%;
        border-top: 10px $textColor double;
        border-left: 3px $textColor dashed;
        border-right: 3px $textColor dashed;
        border-bottom: 10px $textColor double ;
        border-radius: 50px;
        padding:3%;



        span{
          font-size: $p1;
          // margin-bottom: 5%;
          // border: 2px solid pink;
          line-height: 1.6;
        }
      }


      @include btn-module('.jl_button_money_payment', 280, 100) {
        color: white;
        margin: 2% auto;
      }

      @include btn-module('.jl_button_paymentBypoints', 300, 100) {
        color: white;
        margin: 0 auto;
        margin-left: 10%;    
      }





    // end of contents

    .jl-footer{
      width: 100%;
      height: 200px;
      background-color: #44796A;
    }

    //nav-list 所在頁面樣式
          .overlaymenu{
              .menulist{
                  .nav-menu{
                      ul{
                          li:nth-child(3){
                              a{
                                  color: yellow;
                              }
                          }
                      }
                  }
              }
          }

}

