$font_size:(H1:52*.7px,
    H2:40*.7px,
    H3:35*.7px,
    H4:30*.7px,
    p:20*.7px);

$color:(white:#fff,
    gray:#CACACA,
    pink:#FFC2CF,
    lightblue:#D6E0F7,
);


$border :1px solid;

* {
    box-sizing: border-box;
    font-family: 'Raleway', 'Noto Sans TC', sans-serif;
    // letter-spacing: 2.5;
}

img {
    max-width: 100%;
}



.wrapper {
    max-width: 1920px;
    width: 100%;
    height: 2346*.7px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/membercentre/member-bg2x.png);
    background-size: cover;
}


.header {
    img {
        width: 100%;
        height: 240*.7px;
    }
}

.top_block {
    margin: 80*.7px 0 550*.7px 0;
    border: $border red;
}

.CT_title {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 63*.7px;
    }

    h1 {
        font-size: map-get($font_size, H1);
        text-align: center;
        color: map-get($color, lightblue);
    }
}

.EN_title {
    // margin-bottom: 540px;

    h4 {
        font-size: map-get($font_size, H4);
        text-align: center;
        color: map-get($color, lightblue);

        border: $border;

    }
}

.mid_block {
    border: $border red;
    width: 1300*.7px;
    position: relative;
    // width: 100%;

    .tab {
        display: flex;
        // justify-content: flex-start;
        position: absolute;
        top: -35px;
        // z-index: -1;


        h2 {
            font-size: map-get($font_size, H2);
            background-color: map-get($color, gray);
            width: 265*.7px;
            height: 75*.7px;
            border: $border;
            border-radius: 20*.7px;
            line-height: 75*.7px;
            text-align: center;

            margin-left: 37*.7px;


            &:nth-of-type(1) {
                background-color: map-get($color, white);
                margin-left: 108*.7px;
            }
        }
    }

    .pic_out {
        z-index: 2;
    }
}

.mid_top {
    display: flex;
    justify-content: center;
    margin-top: 170*.7px;
    position: absolute;
    top: 0;

    .left {
        width: 454*.7px;
        // width: 100%;
        // height: 639*.7px;


        margin-left: 178*.7px;
        border: $border red;

        img {
            margin-bottom: 36*.7px;
            width: 330*.7px;
            height: 310*.7px;
            display: block;
            margin: 0 auto;
            margin-bottom: 16*.7px;
        }

        .name {
            h4 {
                font-size: map-get($font-size, H4);
                color: map-get($color, pink);
                text-align: center;
            }
        }
    }

    .right {
        // width: 815*.7px;
        // width: 100%;
        // margin-top: 170*.7px;
        border: $border green;

        h4 {
            font-size: map-get($font_size, H4);
            color: map-get($color, white);

            &:nth-of-type(2n+1) {
                color: #DEDEDE
            }
        }

        .info {
            h4 {
                margin-bottom: 19*.7px;
            }

            .info_1 {
                display: flex;
                margin-bottom: 69*.7px;

                .info_Name {
                    margin-right: 186*.7px;
                    border: $border;
                }
            }

            .info_2 {
                display: flex;
                margin-bottom: 108*.7px;

                .info_Sex {
                    margin-right: 215*.7px;
                }
            }
        }

        .right__bottom {
            margin-bottom: 144*.7px;
        }
    }
}

.bottom {
    display: flex;
    // justify-content: center;
    position: absolute;
    bottom: 160*.7px;
    left: 25%;

    h2 {
        font-size: map-get($font_size, H2);
        color: map-get($color, white);
        border: 4px solid #BCBCBC;
        width: 280*.7px;
        height: 110*.7px;
        line-height: 110*.7px;
        text-align: center;
        border-radius: 30*.7px;
        margin-right: 64*.7px;
    }
}