$font_size:(H1:52*.7px,
    H2:40*.7px,
    H3:35*.7px,
    H4:30*.7px,
    p:20*.7px);

$color:(white:#fff,
    gray:#CACACA,
    pink:#FFC2CF,
    lightblue:#D6E0F7,
    font_color:#777777,
);


$border :1px solid;







.wrapper {

    * {
        box-sizing: border-box;
        font-family: 'Raleway', 'Noto Sans TC', sans-serif;
        // letter-spacing: 2.5;

        // outline: 1px solid yellow;
    }

    img {
        max-width: 100%;
    }

    // max-width: 1920px;
    // height: 2346*.7px;
    // height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/membercentre/member-bg2x.png);
    background-size: cover;


    




    .MOL_title {
        // margin: 320*.7px 0 550*.7px 0;
        // border: $border red;



        color: $colorT;
        padding: (80px + 240px) * .7 0 0;

        margin-bottom: 550px*.7;

        &-c {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 63px * .7;
                height: 43px * .7;
                margin-bottom: 5px;
            }
        }

        h1 {
            font-size: $h1;
            padding: 5px 20px 10px;
        }

        &-e {
            text-align: center;
            font-size: $p1;
        }
    }



    ;

    .MOL_midblock_out {

        // border: $border red;
        width: 1475*.7px;
        position: relative;

        .bg {
            position: absolute;
            pointer-events: none;
        }

        .list_tab {
            display: flex;
            position: absolute;
            top: -5.3%;

            // border: $border yellowgreen 3px;






            &_btn {
                font-size: map-get($font_size, H3);
                background-color: map-get($color, gray);
                width: 265*.7px;
                height: 75*.7px;
                // border: $border;
                border-radius: 20*.7px 20*.7px 0 0;
                line-height: 75*.7px;
                text-align: center;
                cursor: pointer;
                margin-right: 37*.7px;

                text-decoration: none;
                color: map-get($color, font_color);




                &:nth-of-type(1) {
                    margin-left: 127*.7px;
                }

                &:nth-of-type(2) {
                    background-color: map-get($color, white);
                }

            }
        }


    }

    .list_content {
        color: map-get($color, white);
        font-size: map-get($font_size, H4);
        width: 90%;
        margin: 0 auto;
        // border: 5px solid green;
        // position: absolute;

        // // top: 0;


    }

    .list_order1 {
        // border: 1px solid green;


        @include btn-module('.buyagain', 191, 75) {
            color: white;
            line-height: (75*.7)-6px;
            // margin:25% auto;
            @include center;
        }

        // }
        table {
            margin-top: 10%;
            width: 100%;
            text-align: center;



            .line {
                width: 95%;
                margin: 40px auto;
                border-top: 2px solid gray;
            }

            td {
                vertical-align: middle;
            }

            .numid {
                margin-bottom: 20%;
            }
        }

    }
}