$font_size:(H1:52*.7px,
    H2:40*.7px,
    H3:35*.7px,
    H4:30*.7px,
    p:20*.7px);

$color:(white:#fff,
    gray:#CACACA,
    pink:#FFC2CF,
    lightblue:#D6E0F7,
    font_color:#777777,
);





.F_wrapper {
    @include rwd("mobile") {
        h1 {
            font-size: $h1 - 8px !important;
        }

        h2 {
            font-size: $h2 - 6px !important;
        }

        h3 {
            font-size: $h3 - 6px !important;
        }

        h4 {
            font-size: $p1 - 6px !important;
        }
    }

    * {
        box-sizing: border-box;
    }

    img {
        max-width: 100%;
    }

    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/membercollection/member-bg2x.png);
    background-size: cover;


    .MF_title {
        // margin: 320*.7px 0 550*.7px 0;
        // border: $border red;

        color: $colorT;
        padding: (80px + 240px) * .7 0 0;

        margin-bottom: 280px*.7;

        &-c {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 63px * .7;
                height: 43px * .7;
                margin-bottom: 5px;
            }
        }

        h1 {
            font-size: $h1;
            padding: 5px 20px 10px;
        }

        &-e {
            text-align: center;
            font-size: $p1;
        }
    }

    // 中間資料

    .MF_mid_block {
        // border: 1px solid red;
        max-width: 1300*.7px;
        width: 100%;


        .tab {
            display: flex;
            justify-content: space-evenly;


            a {

                font-size: $h3;
                background-color: map-get($color, gray);
                color: map-get($color, font_color);
                max-width: 265*.7px;
                max-height: 75*.7px;
                width: 100%;
                border-radius: 20*.7px 20*.7px 0 0;
                line-height: 75*.7px;
                text-align: center;
                cursor: pointer;
                // margin-left: 37*.7px;
                text-decoration: none;

                @include rwd("mobile") {
                    width: 25%;
                    font-size: $h3 - 6px
                }

                &:nth-of-type(3) {
                    background-color: map-get($color, white);
                }

            }
        }

        .mid {
            border: 3px solid white;
            font-size: $h3;
            color: map-get($color, white);
            margin: 0 5%;

            @include rwd("mobile") {

                font-size: $h3 - 8px
            }

            table {
                text-align: center;
                width: 100%;
                margin-top: 4%;
                margin-bottom: 4%;

                

                td {
                    vertical-align: middle;

                }

                .line {
                    width: 90%;
                    margin: 5% auto;
                    border-top: 2px solid gray;
                }

                @include btn-module('.canel_collection', 191, 75) {
                    color: white;
                    line-height: (75*.7)-6px;
                    font-size: $p2;
                    @include center;

                    @include rwd("mobile") {
                        font-size: $p2 - 8px;
                        width: 120px*.7;
                        height: 70px*.7;
                        line-height: (70*.7) - 6px;
                    }
                }


            }
        }

    }

}