$font_size:(H1:52*.7px,
    H2:40*.7px,
    H3:35*.7px,
    H4:30*.7px,
    p:20*.7px);

$color:(white:#fff,
    gray:#CACACA,
    pink:#FFC2CF,
    lightblue:#D6E0F7,
    font_color:#777777,
);


$border :1px solid;

* {
    box-sizing: border-box;
    font-family: 'Raleway', 'Noto Sans TC', sans-serif;
    // letter-spacing: 2.5;

    // outline: 1px solid yellow;
}





.wrapper {

    img {
        max-width: 100%;
    }

    // max-width: 1920px;
    // height: 2346*.7px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/membercentre/member-bg2x.png);
    background-size: cover;


    // @include md {
    //     // border: 5px solid yellow;
    // }

    // @include pad {
    //     // border: 5px solid orange;
    // }

    //     @include mobile {
    //         // border: 5px solid green;
    //     }
    // }




    .MC_title {
        // margin: 320*.7px 0 550*.7px 0;
        // border: $border red;



        color: $colorT;
        padding: (80px + 240px) * .7 0 0;

        margin-bottom: 550px*.7;

        &-c {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 63px * .7;
                height: 43px * .7;
                margin-bottom: 5px;
            }
        }

        h1 {
            font-size: $h1;
            padding: 5px 20px 10px;
        }

        &-e {
            text-align: center;
            font-size: $p1;
        }
    }

    // .MC_title-c {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;

    //     img {
    //         width: 63*.7px;
    //         height: 43px * .7;

    //     }

    //     h1 {
    //         font-size: map-get($font_size, H1);
    //         text-align: center;
    //         color: map-get($color, lightblue);
    //         margin: 0 31*.7px 0;
    //     }
    // }

    // .MC_title-e {
    //     // margin-bottom: 540px;

    //     h4 {
    //         font-size: map-get($font_size, H4);
    //         text-align: center;
    //         color: map-get($color, lightblue);

    //         border: $border;

    //     }
    // }

    .mid_block {
        border: $border red;
        width: 1300*.7px;
        position: relative;

        // width: 100%;
        // @include md {
        //     border: 5px solid yellow;
        //     width: 1050px*.7;
        // }

        // @include pad {
        //     border: 5px solid orange;
        //     width: 700px*.7;
        // }

        // @include mobile {
        //     border: 5px solid green;
        //     width: 550px*.7;
        // }

        .tab {
            display: flex;
            position: absolute;
            top: -37px;


            color: map-get($color, font_color);




            &_btn {

                font-size: map-get($font_size, H3);
                background-color: map-get($color, gray);
                color: map-get($color, font_color);
                width: 265*.7px;
                height: 75*.7px;
                // border: $border;
                border-radius: 20*.7px 20*.7px 0 0;
                line-height: 75*.7px;
                text-align: center;
                cursor: pointer;
                margin-left: 37*.7px;
                text-decoration: none;


                &:nth-of-type(1) {
                    background-color: map-get($color, white);
                    margin-left: 108*.7px;


                }
            }
        }

        .pic_out {
            z-index: 2;


        }
    }

    .mid_top {
        display: flex;
        // justify-content: center;
        margin-top: 166*.7px;
        position: absolute;
        top: 0;

        width: 100%;
        border: 1px solid green;

        // @include md {
        //     flex-wrap: wrap;
        //     justify-content: center;

        //     margin-top: 100*.7px;
        // }


        .left {

            margin-left: 178*.7px;
            margin-right: 140px*.7;
            border: $border red;

            img {

                width: 330*.7px;
                height: 310*.7px;
                display: block;
                margin: 0 auto;
                margin-bottom: 16*.7px;

                // @include md {
                //     width: 230*.7px;
                //     height: 210*.7px;
                // }

                // @include pad {
                //     width: 180*.7px;
                //     height: 160*.7px;
                // }

                // @include mobile {
                //     width: 80*.7px;
                //     height: 60*.7px;
                // }
            }

            .name {
                h4 {
                    font-size: map-get($font-size, H4);
                    color: map-get($color, pink);
                    text-align: center;
                }
            }
        }

        .right {

            border: $border gold;

            h4 {
                font-size: map-get($font_size, H4);
                color: map-get($color, white);

                &:nth-of-type(2n+1) {
                    color: #DEDEDE
                }
            }

            .info {
                h4 {
                    margin-bottom: 19*.7px;
                }

                .info_1 {
                    display: flex;
                    margin-bottom: 69*.7px;
                    border: $border red;



                    .info_Name {
                        margin-right: 186*.7px;
                        border: $border;

                    }
                }

                .info_2 {
                    display: flex;
                    margin-bottom: 108*.7px;
                    border: $border red;



                    .info_Sex {
                        margin-right: 215*.7px;
                        border: $border;


                    }

                }
            }

            &__bottom {
                display: flex;

                h4 {
                    margin-right: 3%;
                }

                img {
                    width: 20px;
                }
            }
        }


    }


    .bottom {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 160*.7px;
        width: 100%;

        // @include md {
        //     bottom: 0;
        // }

        // @include pad {
        //     bottom: 0;
        // }

        // @include mobile {
        //     bottom: 0;
        // }

        border: 1px solid green;

        // h2 {
        //     font-size: map-get($font_size, H2);
        //     color: map-get($color, white);
        //     border: 4px*.7 solid #BCBCBC;
        //     width: 280*.7px;
        //     height: 110*.7px;
        //     line-height: 110*.7px;
        //     text-align: center;
        //     border-radius: 30*.7px;
        //     margin-right: 64*.7px;
        //     cursor: pointer;

        //     &:hover {
        //         border: 3px solid rgba(245, 255, 103, 0.5);
        //     }



        // }

        @include btn-module('.change_pic', 280, 100) {
            color: white;
            margin-right: 62px*.7;
        }

        @include btn-module('.change_data', 280, 100) {
            color: white;
        }
    }
}