$color:#D6E0F7;
$h1:52*.7px;
$h2:40*.7px;
$h4:30*.7px;
$p:30*.7px;
$letter-spacing:2.5;

 
 
 
 .j_order_wrapper{
     background-image: url(../images/order/orderbg.png);
    //  height:2445*.7px;
     width: 100%;
    //  background-repeat: no-repeat;
    //  background-position:center ;
     background-size: cover;
     margin: 0 auto;
     position: relative;
     overflow: hidden;
     box-sizing: border-box;
    //  margin-top:100px ;

     .overlaymenu{
        .menulist{
            .nav-menu{
                ul{
                    li:nth-child(2){
                        a{
                            color: yellow;
                        }
                    }
                }
            }
        }
    }
        
     
        

 }

 .j_order{
     border:5px solid #FFFFFF;
    // height:1929*.7px;

    margin: 0 auto;
    max-width:1636*.7px;
    width: 90%;
    margin-top: 280*.7px;
    padding-bottom:100px;
    position: relative;
    
    // position: absolute;

    .order_title{
        li{
            @include rwd(mobile){
                font-size: $h4 - 6px;
                text-align:left;
            }
        }
    }
         ul{

            // border:1px solid green;

            max-width:1187*.7px;
            width: 100%;
            display:flex;
            color:$color;
            flex-grow: 1;
            margin:0 auto;
            @include rwd(mobile){
                font-size: $h4 - 6px;
            }

        }
             li{
                list-style: none;

                // width:400*.7px;
                width: 100%;
                margin-top: 74*.7px;
                text-align:center;
                font-size: $h4;
                    h4{
                        @include rwd(mobile){
                            font-size: $h4 - 6px;
                            text-align:left;
                        }
                    }
                

            }

    
        // img{
        //     position: absolute;
        //     pointer-events: none;
        //      width:100%;

                
            
        // }

.j_order_img{
    max-width:1636*.7px;

    // height: 1400*.7px;
    height: 95%;
}
 }
 .firstorder{
            max-width:1187*.7px;
            width: 100%;
            display:flex;
            flex-wrap: wrap;
            color:$color;
            flex-grow: 1;
            margin:0 auto;
            text-align:center;
            justify-content: center;
            align-items: center;
            ul{
                margin-bottom: 60*.7px;
                width: 100%;


            }
            li{
                list-style: none;
                width: 100%;
                margin-top:54*.7px;
                text-align:center;
                font-size: $h4;
                display:flex;
                justify-content:center;
                margin-bottom: 60*.7px;
                    @include rwd(mobile){
                        font-size: $h4 - 6px;
                    }

                // margin: 0 auto;
            }
            // img{
            //     display:block;
            //     margin:0 auto;
            //     text-align:center;
            //     width: 100%;
            //         // @include rwd(mobile){
            //         //     width:50%;
            //         // }

            // }


    
 }
 .fo_img{
    display:block;
    max-width:166.84*.7px;
    width: 100%;
    text-align:center;
        @include rwd(mobile){
        width:166.84*.7px / 2;
        }

    

}
.secondorder{
    li{
        list-style: none;
        width: 100%;
        margin-top:54*.7px;
        text-align:center;
        font-size: $h4;
        display:flex;
        justify-content:center;
        margin-bottom: 60*.7px;
        width: 100%;
        @include rwd(mobile){
            font-size: $h4 - 6px;
        }


        // margin: 0 auto;
    }
}

.order_total{
    text-align: right;
    max-width:1187*.7px;
    width: 100%;
    margin: 0 auto;
    margin-top:60px ;
        h4{
            font-size:$h4;
            color:$color;
            @include rwd(mobile){
                font-size: $h4 - 6px;
            }
        }


}
// customer order info
.j_customer{
    max-width:1187*.7px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
    margin-top: 111*.7px;
    color:$color;
    line-height: 1.5;

    border:2px solid darkcyan;
    
    // flex-wrap: wrap;
    @include rwd(mobile){
        flex-wrap: wrap;
    }
        


}
.customer_left{
    // max-width:728*.7px;
    width: 100%;

    // margin-left: 42*.7px;
    border:2px solid rgb(29, 46, 143);
    @include rwd(mobile){
        margin-bottom:50px;
    }

    .info_title{
        margin-bottom: 10*.7px;
    }
        .name{
            // max-width:700*.7px ;
            width: 100%;
            // border:1px solid gold;
            margin-bottom: 10*.7px;
        }
        
        .tel{
            width: 100%;
            // border:1px solid gold;
            margin-bottom: 10*.7px;
        }
        .email{
            width: 100%;
            // border:1px solid gold;
            margin-bottom: 10*.7px;
        }
        .comment{
            width: 100%;
            // border:1px solid gold;
            margin-bottom: 10*.7px;
                textarea{
                    width:400*.7px;
                    height:150*.7px;
                    margin-top: 10*.7px;
                    margin-bottom: 10*.7px;
                }
        }
}

.customer_right{
    // max-width:727*.7px;
    width: 100%;

    // margin-left: 183*.7px;
    // padding-left: 42*.7px;
    border:2px solid rgb(156, 214, 47);

    .order_payment{
        text-align:right;
        @include btn-module('.order_payment', 236, 93){
            color: $color;
            text-align: center;
            
          }
    }

    .info_title{
        margin-bottom: 10*.7px;
    }
        .docu_member{
            margin-bottom: 10*.7px;

        }
        .name{
            // max-width:700*.7px ;
            width: 100%;
            // border:1px solid gold;
            margin-bottom: 10*.7px;
        }
        
        .tel{
            width: 100%;
            // border:1px solid gold;
            margin-bottom: 10*.7px;
        }
        .email{
            width: 100%;
            // border:1px solid gold;
            margin-bottom: 10*.7px;
        }
        .comment{
            width: 100%;
            // border:1px solid gold;
            margin-bottom: 10*.7px;
                textarea{
                    width:400*.7px;
                    height:150*.7px;
                    margin-top: 10*.7px;
                    margin-bottom: 10*.7px;
                }
        }
}