.wrapper_product-detail{
    
     background-image: url(../images/store/pdctD_bg.png);
     background-size: cover;
     box-sizing: border-box;
     
     a{
         text-decoration: none;
         color: white;
     }

     .product-detail_content{
         line-height: 1.6;
     }

     .unstore_title{
        // border: 1px solid red;
        color: $colorT;
        padding: ( 80px + 240px ) * .7 0 0;
        &-c{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 63px * .7;
                height: 43px * .7;
                margin-bottom: 5px;
            }
        }
       
       h1{
           font-size: $h1;
           padding: 5px 20px 10px;
       }

       &-e{
            text-align: center;
            font-size: $p1;
       }

    }
    
    .product-detail{
        &_content{
            // border: 1px solid yellow;
            width: 85%;
            // height: 500px;
            color: white;
            // overflow-y: scroll;
            @include center;
            margin-top: 40px;
            
            
            // background-image: url(../images/store/pdctFrame_bg.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;

            @include rwd(mobile){
                background-image: none;
                border: 3px solid white;
             }
        }

        &_top{
            position: relative;

            .breadcrumb {
                max-width: 1200px;
                margin: 0 auto;
                /* border: 1px solid red; */
                padding-left: 50px;
                padding-top: 80px * .7;
                padding-bottom: 85px * .7;
            }
            .breadcrumb_list li{
                display: inline-block;
                margin-right: 10px; 
                margin-top: 20px;

                &:before{
                    content: "/";
                    margin-right: 10px; 
                }
                &:first-child:before{
                    content: " ";
                }

            }

            .pd-love{
                width: 60px * .7;
                position: absolute;
                right: 70px;
                top: 70px;

            }
    
        }

        &_main{
            // border: 1px solid red;
            width: 85%;
            @include center;
            display: flex;
            @include rwd(mobile){
                display: block;
             }

            .leftblock{
                // border: 1px solid yellow;
                width: 50%;
                padding: 40px;
                padding-top: 0;
                @include rwd(mobile){
                    width: 100%;
                 }
                  
            }

            .img_block{
                
                img{
                    width: 100%;
                    border-radius: 20px;
                    margin-bottom: 10px;
                }    
            }
            
            .btn_block{
                display: flex;
                button{
                    width: calc((100% - 60px) / 3);
                    border-radius: 20px;
                    margin:0 10px;
                }
                img{
                    border-radius: 20px;
                    width: 100%;
                }
            }

            .rightblock{
                width: 50%;
                padding: 50px;
                h2{
                    font-size: $h2;
                    margin-bottom: 50px;
                }
                p{
                    font-size: $p2;
                }
                @include rwd(mobile){
                    width: 100%;
                 }
            }

            .pd-price{
               font-size: $h3;
               margin-top: 120px;
               margin-bottom: 50px;
               text-align: right;
               input{
                   width: 50px;
                   height: 30px;
                   font-size: $p1;
                   margin-left: 20px;
                   border-radius: 5px;
               } 
            }

        
            @include btn-module('.pd-add', 236, 93){
                color: white;
                margin-right: 10px;
            }

            @include btn-module('.pd-buy', 236, 93){
                color: white;
            }  
        }

        &_info{
            width: 70%;
            @include center;
            h2{
                text-align: center;
                font-size: $h2;
                margin-top: 50px;
                margin-bottom: 56px;
            }
        }

        &_evaluation{
            width: 70%;
            @include center;
            h2{
                text-align: center;
                font-size: $h2;
                margin-top: 80px;
                margin-bottom: 56px;
            }

            hr{
                color: white;
                height: 1px;
            }

            .pd-member{
                border-top: 1px solid white;
                padding-top: 10px;
                display: flex;
                position: relative;
                @include rwd(mobile){
                    display: block;
                }
            }

            .pd-photo{
                border-radius: 50%;
                overflow: hidden;
            }

            .pd-name{
                padding-left: 20px;
                padding-top: 10px;
            }

            .pd-star{
                position: absolute;
                right: 0;
                top: 20%;
                display: inline-block;
                font-size: 0;
             }
             .star-item{
                display: inline-block;
                width: 20px;
                height:20px;
                cursor: pointer;
                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAoCAMAAADJ7yrpAAAAYFBMVEUAAAD92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92UmCTPEWAAAAH3RSTlMA9iwe++hAgPLJo13i3Td8JO3Sk4xtYkYUC76cVBIjGgBFCwAAAMtJREFUKM+1kUkOhCAQRUEFBHGep67737JRlEFNJ73wbyAv9WtRD/1O3z/AqrqzDqC7spEAkPECGagwlwRJE28wbpJAk5xjcIJ5rmBBwAsp9nLpsvJYkMWWxRk6QrHZSJFJesIU2UQnjCwLwSQ0kG4zQmzzdmcCuA5VocaQGNiyQX8G1qK/8q6jNH1wtCx3RxwhfnUkM3Vs6ToSdNUDK52NI6JL+4R1JD/HYaXriOsP9xxN+p08R0JV1ZlnzxELRBSJIPccSe1IvufoCxGAFoLwSVOBAAAAAElFTkSuQmCC') center top no-repeat;
             }
             input[type="radio"]{
                position: absolute;
                clip: rect(0,0,0,0)
             }
             input[type="radio"]:checked~.star-item{
                 background-position: center bottom;
             }
             .pd-star:hover label.star-item{
                background-position: center top;
             }
             label.star-item:hover~.star-item{
                background-position: center bottom;
             }

            
        }

        &_like{
            width: 85%;
            @include center;
            text-align: center;

            h2{
                text-align: center;
                font-size: $h2;
                margin-top: 80px;
                margin-bottom: 56px;
            }

            ul{
                display: flex;
                justify-content: space-around;
                width: 80%;
                padding-bottom: 150px;
                
                // border: 1px solid red;
                @include center;
            }

            li{
                margin: 0 10px;
            }

            img{
                border: 5px solid $colorBd;
                font-size: 0;
            }
        }

    }
  

}

    


    
