.wrapper_product-detail{
    
     background-image: url(../images/store/pdctD_bg.png);
     background-size: cover;
     box-sizing: border-box;
     
     /*===== 標題 =====*/
     .unstore_title{
        // border: 1px solid red;
        color: $colorT;
        padding: ( 80px + 240px ) * .7 0 0;
        &-c{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 63px * .7;
                height: 43px * .7;
                margin-bottom: 5px;
            }
        }
       
       h1{
           font-size: $h1;
           padding: 5px 20px 10px;
           @include rwd(mobile){
            font-size: $h1 - 6px;
            }
       }

       &-e{
            text-align: center;
            font-size: $p1;
            @include rwd(mobile){
                font-size: $p1 - 6px;
            }
        }

    }
    
    .product-detail{

        &_content{
            line-height: 1.6;
            // border: 1px solid yellow;
            width: 85%;
            // height: 500px;
            color: white;
            // overflow-y: scroll;
            @include center;
            margin-top: 40px;
            
            
            // background-image: url(../images/store/pdctFrame_bg.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;

            // @include rwd(mobile){
            //     background-image: none;
            //     border: 3px solid white;
            //  }
        }

        &_top{
            position: relative;

            /*===== 麵包屑 =====*/
            .breadcrumb {
                max-width: 1200px;
                margin: 0 auto;
                /* border: 1px solid red; */
                padding-left: 50px;
                padding-top: 80px * .7;
                padding-bottom: 85px * .7;
                @include rwd(mobile){
                    padding-left: 20px;
                }
                a{
                    text-decoration: none;
                    color: white;
                }
            }
            .breadcrumb_list li{
                display: inline-block;
                margin-right: 10px; 
                margin-top: 20px;

                &:before{
                    content: "/";
                    margin-right: 10px; 
                }
                &:first-child:before{
                    content: " ";
                }

            }

            /*===== 愛心收藏 =====*/
            .pd-love{
                width: 60px * .7;
                position: absolute;
                right: 70px;
                top: 70px;
                @include rwd(mobile){
                    right: 20px;
                }

            }
    
        }

        &_main{
            // border: 1px solid red;
            width: 85%;
            @include center;
            display: flex;
            @include rwd(mobile){
                display: block;
             }

             /*===== 商品角度切換 =====*/
            .pd-leftblock{
                // border: 1px solid yellow;
                width: 50%;
                padding: 40px;
                padding-top: 0;
                @include rwd(mobile){
                    width: 100%;
                    padding: 0;
                 }
                .pd-img_block{
                    img{
                        display: none;
                    }
                    img.-on{
                        display: inline-block;
                    }
                }  
            }

            .pd-img_block{
                
                img{
                    width: 100%;
                    border-radius: 20px;
                    margin-bottom: 10px;
                }    
            }
            
            .pd-btn_block{
                display: flex;
                button{
                    width: calc((100% - 60px) / 3);
                    border-radius: 20px;
                    margin:0 10px;
                }
                img{
                    border-radius: 20px;
                    width: 100%;
                }
            }

            /*===== 商品簡介 =====*/
            .pd-rightblock{
                width: 50%;
                padding: 50px;
                h2{
                    font-size: $h2;
                    margin-bottom: 50px;
                }
                p{
                    font-size: $p2;
                }
                @include rwd(mobile){
                    width: 100%;
                    padding: 10px;
                    h2{
                        font-size: $h2 - 6px;
                        margin-top: 50px;
                    }
                    p{
                        font-size: $p2 - 3px;
                    }
                 }
            }

            .pd-price{
               font-size: $h3;
               margin-top: 120px;
               margin-bottom: 50px;
               text-align: right;
               input{
                   width: 50px;
                   height: 30px;
                   font-size: $p1;
                   margin-left: 20px;
                   border-radius: 5px;
               }
               @include rwd(mobile){
               font-size: $h3 - 6px;
               text-align: center;
                    input{
                        font-size: $p1 - 6px;
                    }
                }
            }

        
            @include btn-module('.pd-add', 236, 93){
                color: white;
                margin-right: 10px;

                @include rwd(mobile){
                    font-size: $h3 - 8px;
                    width: 170 * 0.7px;
                    height: 80 * 0.7px;
                    margin-right: 0;
                }
            }

            @include btn-module('.pd-buy', 236, 93){
                color: white;
                @include rwd(mobile){
                    font-size: $h3 - 8px;
                    width: 170 * 0.7px;
                    height: 80 * 0.7px;
                }
            }  
        }

        /*===== 商品細節介紹 =====*/
        &_info{
            width: 80%;
            @include center;
            h2{
                text-align: center;
                font-size: $h2;
                margin-top: 50px;
                margin-bottom: 56px;
                @include rwd(mobile){
                    font-size: $h2 - 6px;
                }
            }
            .pd-chart{
                width: 50%;
                text-align: center;
                @include center;
                margin-bottom: 56px;
                @include rwd(mobile){
                    width: 100%;
                }
                p{
                    margin-bottom: 20px;
                }
            }
        }

        /*===== 商品評價 =====*/
        &_evaluation{
            width: 70%;
            @include center;
            h2{
                text-align: center;
                font-size: $h2;
                margin-top: 80px;
                margin-bottom: 56px;
                @include rwd(mobile){
                    font-size: $h2 - 6px;
                }
            }

            hr{
                color: white;
                height: 1px;
            }

            .pd-member{
                border-top: 1px solid white;
                padding-top: 10px;
                display: flex;
                position: relative;
                @include rwd(mobile){
                    display: block;
                }
            }

            .pd-photo{
                img{
                    border-radius: 50%;
                }
            }

            .pd-name{
                padding-left: 20px;
                padding-top: 10px;
                @include rwd(mobile){
                    padding-left: 0;
                    margin-bottom: 10px;
                 }
            }

            .pd-star{
                position: absolute;
                right: 0;
                top: 20%;
                display: inline-block;
                font-size: 0;
             }
             .star-item{
                display: inline-block;
                width: 20px;
                height:20px;
                cursor: pointer;
                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAoCAMAAADJ7yrpAAAAYFBMVEUAAAD92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92UmCTPEWAAAAH3RSTlMA9iwe++hAgPLJo13i3Td8JO3Sk4xtYkYUC76cVBIjGgBFCwAAAMtJREFUKM+1kUkOhCAQRUEFBHGep67737JRlEFNJ73wbyAv9WtRD/1O3z/AqrqzDqC7spEAkPECGagwlwRJE28wbpJAk5xjcIJ5rmBBwAsp9nLpsvJYkMWWxRk6QrHZSJFJesIU2UQnjCwLwSQ0kG4zQmzzdmcCuA5VocaQGNiyQX8G1qK/8q6jNH1wtCx3RxwhfnUkM3Vs6ToSdNUDK52NI6JL+4R1JD/HYaXriOsP9xxN+p08R0JV1ZlnzxELRBSJIPccSe1IvufoCxGAFoLwSVOBAAAAAElFTkSuQmCC') center top no-repeat;
             }
             input[type="radio"]{
                position: absolute;
                clip: rect(0,0,0,0)
             }
             input[type="radio"]:checked~.star-item{
                 background-position: center bottom;
             }
             .pd-star:hover label.star-item{
                background-position: center top;
             }
             label.star-item:hover~.star-item{
                background-position: center bottom;
             }

            
        }

        /*===== 可能喜歡的商品 =====*/
        &_like{
            width: 85%;
            @include center;
            text-align: center;

            h2{
                text-align: center;
                font-size: $h2;
                margin-top: 80px;
                margin-bottom: 56px;
                @include rwd(mobile){
                    font-size: $h2 - 6px;
                }
            }

            .pd_swiper{
                display: flex;
                justify-content: center;
                align-items: center;
                .pd_prbtn {
                    margin-right: 20px;
                }
                .pd_nextbtn {
                    margin-left: 20px;
                }
            }

            .swiper-slide{
                img{
                    border: 5px solid $colorBd;
                }
            }

        }
        
    }

    .pd-footer{
        height: 200px;
        background-color: #302B23;
    }


    /*===== header 所在頁面 =====*/
    .overlaymenu{
        .menulist{
            .nav-menu{
                ul{
                    li:nth-child(4){
                        a{
                            color: yellow;
                        }
                    }
                }
            }
        }
    }
  

}

    


    
