$font_size:(H1:52*.7px,
    H2:40*.7px,
    H3:35*.7px,
    H4:30*.7px,
    p:20*.7px);

$color:(white:#fff,
    gray:#CACACA,
    pink:#FFC2CF,
    lightblue:#D6E0F7,
    font_color:#777777,
);


.SC_wrapper {
    * {
        box-sizing: border-box;
        font-family: 'Raleway', 'Noto Sans TC', sans-serif;
        // letter-spacing: 2.5;

        // outline: 1px solid yellow;
    }

    img {
        max-width: 100%;
    }

    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/shopping_cart/member-bg2x.png);
    background-size: cover;

    .SC_title {
        // margin: 320*.7px 0 550*.7px 0;
        // border: $border red;

        color: $colorT;
        padding: (80px + 200px) * .7 0 0;

        margin-bottom: 280px*.7;

        &-c {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 63px * .7;
                height: 43px * .7;
                margin-bottom: 5px;
            }
        }

        h1 {
            font-size: $h1;
            padding: 5px 20px 10px;
        }

        &-e {
            text-align: center;
            font-size: $p1;
        }
    }

    .SC_mid_block {
        // border: 1px solid red;

        max-width: 1300*.7px;
        width: 100%;
        border: 3px solid white;
        font-size: $h3;
        color: map-get($color, white);

        @include rwd("mobile") {

            font-size: $h3 - 8px
        }

        table {
            text-align: center;
            width: 100%;
            margin-top: 4%;
            margin-bottom: 4%;

            td {
                vertical-align: middle;

            }

            .line {
                width: 95%;
                margin: 5% auto;
                border-top: 2px solid gray;
            }

            @include btn-module('.delete_item', 191, 75) {
                color: white;
                line-height: (75*.7)-6px;
                @include center;

            }


            .total_price {
                color: map-get($color, pink);
            }

            .item_count {
                width: 30%;
                border-radius: 5px;
            }
        }

    }
}