.wrapper_tSort{
    
    .tSort_header{
        height: 140px;
        background-color: #023552;
        @include rwd(mobile){
            height: 100px;
        }
    }

    .tSort_section{
        //背景圖
         background-image: url(../images/test/bgi_star.png);
         background-size: 100% 100%;
         padding-bottom: 140px;
         @include rwd(mobile){
            background-size: 100% 50%;
            background-image: url(../images/test/bgi_phone.png);
         }
     }

    .tSort_title{
        // border: 1px solid red;
        color: $colorT;
        padding: ( 80px ) * .7 0 0;
        &-c{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 63px * .7;
                height: 43px * .7;
                margin-bottom: 5px;
            }
        }
       
       h1{
           font-size: $h1;
           padding: 5px 20px 10px;
           @include rwd(mobile){
                font-size: $h1 - 8px;
            }
       }

       &-e{
            text-align: center;
            font-size: $p1;
            @include rwd(mobile){
                font-size: $p1 - 6px;
            }
       }

    }

    .tSort_content{
        // border: 1px solid yellow;
        width: 85%;
        height: 85%;
        padding-top: 10px;
        padding-bottom: 220px * .7;
        color: white;
        @include center;

        //儀錶板
        background-image: url(../images/test/bgi-2.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-top: 56px;
        @include rwd(mobile){
            background-image: none;
            margin-top: 0px;
            padding-bottom: 30px;
        }
    }

    .tSort_option{
        // border: 1px solid red;
        width: 70%;
        @include center;
        margin-top: 240px * .7;
        margin-bottom: 20px;
        @include rwd(mobile){
            width: 100%;
            margin-top: 56px;
        }
       
        ul{
            display: flex;
            justify-content: center;
        }
        li{
            display: flex;
            margin: 20px;
            
            img{
                width: 45px * .7;
                height: 31px * .7;
            }
            img:nth-child(3){
                width: 33px * .7;
                height: 32 * .7;
            }
            h2{
                font-size: $h2;
                margin-left: 5px;
                @include rwd(mobile){
                    font-size: $h2 - 6px;
                }
            }
        }
    }

    .tSort_poster{
        // border: 1px solid red;
        width: 50%;
        @include center;
        font-size: 0;
        @include rwd(mobile){
            width: 100%;
        }
        img{
            width: 100%;
        }
    }

    @include btn-module('.tSort_start', 280, 100){
        color: white;
        display: block;
        margin: 28px auto;
        a{
            text-decoration: none;
             color: white;
         }
    }


    .tSort_footer{
        width: 100%;
        height: 200px;
        background-color: #44796A;
    }

    .overlaymenu{
        .menulist{
            .nav-menu{
                ul{
                    li:nth-child(3){
                        a{
                            color: yellow;
                        }
                    }
                }
            }
        }
    }
}