.wrapper_tQuestion{

    .tQuestion_header{
        height: 140px;
        background-color: #023552;
    }

    .tQuestion_section{
        //背景圖
         background-image: url(../images/test/bgi_star.png);
         background-size: 100% 100%;
         padding-bottom: 140px;
         @include rwd(mobile){
            background-size: 100% 50%;
            background-image: url(../images/test/bgi_phone.png);
         }
     }

    .tQuestion_title{
        color: $colorT;
        padding: ( 80px ) * .7 0 0;
        &-c{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 63px * .7;
                height: 43px * .7;
                margin-bottom: 5px;
            }
        }
       
       h1{
           font-size: $h1;
           padding: 5px 20px 10px;
           @include rwd(mobile){
                font-size: $h1 - 6px;
            }
       }

       &-e{
            text-align: center;
            font-size: $p1;
            @include rwd(mobile){
                font-size: $p1 - 6px;
            }
       }

    }

    .tQuestion_content{
        // border: 1px solid yellow;
        width: 85%;
        height: 85%;
        padding-top: 10px;
        padding-bottom: 220px * .7;
        color: white;
        font-size: $h3;
        line-height: 1.6;
        @include center;

        //儀錶板
        background-image: url(../images/test/bgi-2.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-top: 56px;
        @include rwd(mobile){
            background-image: none;
            margin-top: 0px;
            font-size: $h3 - 6px;
            padding-bottom: 30px;
        }
        .tq_main{
            width: 65%;
            @include center;
            margin-top: 240px * .7;
            @include rwd(mobile){
                width: 100%;
                margin-top: 100px;
            }
            p{
                margin-bottom: 50px;
            }
        }

    }

    

    @include btn-module('.tQuestion_next', 280, 100){
        color: white;
        display: block;
        margin: 28px auto;
        a{
            text-decoration: none;
             color: white;
         }
    }


    .tQuestion_footer{
        width: 100%;
        height: 200px;
        background-color: #44796A;
    }
}