.wrapper_unstore{
    
     background-image: url(../images/store/pdct_bg.png);
     background-size: cover;
     box-sizing: border-box;

     a{
        text-decoration: none;
         color: white;
     }
     

    .unstore_title{
        // border: 1px solid red;
        color: $colorT;
        padding: ( 80px + 240px ) * .7 0 0;
        &-c{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 63px * .7;
                height: 43px * .7;
                margin-bottom: 5px;
            }
        }
       
       h1{
           font-size: $h1;
           padding: 5px 20px 10px;
       }

       &-e{
            text-align: center;
            font-size: $p1;
       }

    }

    .unstore_sort{
        color: $colorP;
        font-size: $h2;
        width: 85%;
        @include center;
        display:flex;
        margin-top: 375px;
        margin-bottom: -12px;

        li{
            display: block;
            width: 10%;
            height: 75px * .7;
            background-color: white;
            margin-left: 20px;
            text-align: center;
            line-height: 2;
            border-radius: 20px 20px 0 0;

            &:nth-child(5){
                background-color:$colorPbg;
                justify-content: right;
                color: white;
                margin-left: 40%;
                width: 12%;
                &:hover{
                    background-color: $colorPb;
                }
            }
        }
    }

    
    .unstore_content{
        // border: 1px solid yellow;
        width: 85%;
        height: 85%;
        color: white;
        @include center;
        
        
        background-image: url(../images/store/pdctFrame_bg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;

        .unstore_product{
            //border: 1px solid red;
            width: 90%;
            max-width: 1200px;
            @include center;
            display: flex;
            flex-wrap: wrap;
            padding-top: 50px;
            // justify-content: space-around;
            
        }

        .item{
            // border: 1px solid red;
            width: calc((100% - 60px) / 3);
            
            // flex-grow: 1;
            margin:0 10px;
            margin-bottom: 60px;
            font-size: 0;

            img{
                border: 5px solid $colorBd;
                width: 100%;
            }
        }

        h4{
            font-size: $p1;
            padding: 10px;
        }

        .unstore_pagination{
            @include pagination;
            padding-bottom: 100px;
        }

    }

    .unstore_monster{
        // border: 1px solid red;
        position: relative;

        a:hover{
            opacity: .7;
        }

        img{
            // border: 1px solid white;
            position: absolute;
            right: 0;
            width: 28vw;
        }
    }
}