.wrapper_unstore{
    overflow: hidden;
     //背景圖
     background-image: url(../images/store/pdct_bg.png);
     background-size: cover;
     box-sizing: border-box;

     @include rwd(mobile){
        background-image: url(../images/store/pdctD_bg.png);
     }

     /*===== 標題 =====*/
    .unstore_title{
        color: $colorT;
        padding: ( 80px + 240px ) * .7 0 0;
        &-c{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 63px * .7;
                height: 43px * .7;
                margin-bottom: 5px;
            }
        }
       
       h1{
           font-size: $h1;
           padding: 5px 20px 10px;
           @include rwd(mobile){
                font-size: $h1 - 6px;
            }
        }

       &-e{
            text-align: center;
            font-size: $p1;
            @include rwd(mobile){
                font-size: $p1 - 6px;
            }
        }
    }

    /*===== 頁籤 =====*/
    @include bookmark('.unstore_sort'){
        a{
            text-decoration: none;
             color: white;
         }
    };
    
    /*===== 商品內容 =====*/
    .unstore_content{
        width: 85%;
        height: 85%;
        color: white;
        @include center;
        line-height: 1.2;
        text-align: center;
        padding-top: 20px;
        
        //儀錶板
        background-image: url(../images/store/pdctFrame_bg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
        @include rwd(mobile){
            background-image: none;
            border: 5px solid #F8F8F8;
            margin-top: 11px;
        }

        a{
            text-decoration: none;
             color: white;
         }

        .unstore_product{
            width: 90%;
            max-width: 1200px;
            @include center;
            display: flex;
            flex-wrap: wrap;
            padding-top: 50px;
            @include rwd(mobile){
                padding-top: 10px;
            }
            
        }

        .item{
            width: calc((100% - 60px) / 3);

            // flex-grow: 1;
            margin:0 10px 60px 10px;
            font-size: 0;

            @include rwd(pad){
                width: calc((100% - 40px) / 2);
                margin-bottom: 40px;
            }

            @include rwd(mobile){
                width: calc((100% - 20px) / 2);
                margin:0 5px 20px 5px;
            }
            

            img{
                border: 5px solid $colorBd;
                width: 100%;
            }
        }

        h4{
            font-size: $p1;
            padding: 10px;
            @include rwd(mobile){
               font-size: 14px;
               padding: 5px;
            }
        }

        /*===== 頁碼 =====*/
        .unstore_pagination{
            @include pagination;
            padding-bottom: 100px;
        }

    }

    /*===== 客製我小怪獸 =====*/
    .unstore_monster{
        position: relative;

        a:hover{
            opacity: .7;
        }

        img{
            position: absolute;
            right: 0;
            width: 28vw;
            @include rwd(mobile){
                width: 40vw;
             }
        }
    }

    //nav-list 所在頁面樣式
    .overlaymenu{
        .menulist{
            .nav-menu{
                ul{
                    li:nth-child(4){
                        a{
                            color: yellow;
                        }
                    }
                }
            }
        }
    }
    

}