header {
    width: 100%;
    height: 240px;
    display: flex;
    background-color: #003352;
    margin: auto 0;
    .left{
        width: 320px;
        margin: auto 0;
        margin-left: 110px;
        img{
            width: 100%;
        }
    }
    .right{
        display:flex
    }
}