.popout {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(7, 7, 7, 0.6);
    display: none;
    z-index: 1000;
    overflow-y: scroll;

    
}

.popup {
    margin: 120px auto;
    background-color: #fff;
    border-radius: 120px;
    width: 550px;
    position: relative;
    z-index: 1000;

    

    .close_login_btn {
        position: absolute;
        top: -20px;
        right: -20px;
        color: #fff;
        font-size: 70px;
        font-weight: 200;
        text-decoration: none;
    }

    .close_signup_btn {
        position: absolute;
        top: -20px;
        right: -20px;
        color: #fff;
        font-size: 70px;
        font-weight: 200;
        text-decoration: none;
    }
}

.login_title {
    h1 {
        font-size: $h2;
        text-align: center;
        padding-top: 8%;
        color: darkcyan;
    }
}

.login_info {
    &_content {
        width: 60%;
        padding: 20px 0 50px;
        @include center;



        h3 {
            font-size: $h3 - 2px;
            margin: 3% 0;
            color: #555;
        }

        input {
            background-color: #ddd;
            width: 100%;
            margin: 1% 0 5%;
            font-size: $h3 - 3px;
            padding: 5px 3px;

        }

        .logina {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5%;
            margin-top: 10px;
            text-decoration: underline;
            a{
                color: darkcyan;
            }
        }
        a{ //暫連membercentre用
            text-decoration: none;
        }
        @include btn-module(".send", 200, 90) {
            display: block;
            margin: 30px auto 0;
            color: #555;
            border-color: #555;
            &:hover{
                color: darkcyan;
                border-color: darkcyan;
            }
        }
    }
}

.signuptitle {
    h1 {
        font-size: $h2;
        text-align: center;
        padding-top: 8%;
        color: darkcyan;
    }
}

.signup_info {
    &_content {
        width: 60%;
        padding: 20px 0 50px;
        @include center;



        h3 {
            font-size: $h3 - 2px;
            margin: 3% 0;
            color: #555;
        }

        input {
            background-color: #ddd;
            width: 100%;
            margin: 1% 0 5%;
            font-size: $h3 - 3px;
            padding: 5px 3px;

        }

        .signupa {
            display: flex;
            justify-content: center;
            margin: 5% auto;
            margin-top: 10px;
            text-decoration: underline;
            a{
                color: darkcyan;
            }
        }
        @include btn-module(".sign", 200, 90) {
            display: block;
            margin: 30px auto 0;
            color: #555;
            border-color: #555;
            &:hover{
                color: darkcyan;
                border-color: darkcyan;
            }
        }
    }
}