<header>
    <div class="navbar">
        <div class="logo">
            <a href="index.html"><img src="../images/header/logo.png" alt=""></a>
        </div>

        <div class="nav-list">
            <ul>
                <li><a class="cart"><img src="../images/header/cart.png"></a></li>
                <li><a class="login"><img src="../images/header/member.png"></a></li>
                <li><button type="button" class="burgerbtn"><img src="../images/header/burger.png"></button></li>
            </ul>
        </div>

    </div>

</header>

<!-- nav list -->
<div class="overlaymenu">
    <div class="menulist">
        <div class="nav-menu">
            <a class="closebtn" href="#">&times;</a>
            <ul>
                <li><a href="starsign.html">星座探索</a></li>
                <li><a href="appointment.html">大師預約</a></li>
                <li><a href="matchtest.html">心星揭秘</a></li>
                <li><a href="unstore.html">宇宙商城</a></li>
                <li><a href="game.html">星幣遊戲</a></li>
            </ul>
        </div>
    </div>
</div>