<header>
    <div class="left">
        <a href="index.html"><img src="../img/header/logo.png" alt=""></a>
    </div>
    <div class="right">
        <div class="cart">
            <a href=""><img src="../img/header/cart.png" alt=""></a>
        </div>
        <div class="member">
            <a href=""><img src="../img/header/member.png" alt=""></a>
        </div>

        <button class="hamburger hamburger--elastic" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
    </div>
    <div class="overlay" id="overlay">
        <div class="overlay-menu">
            <ul>
                <li><a href="">星座探索</a></li>
                <li><a href="">心星揭秘</a></li>
                <li><a href="">大師預約</a></li>
                <li><a href="">宇宙商城</a></li>
                <li><a href="">星幣遊戲</a></li>
             </ul>
        </div>
    </div>
</header>