// 順序
// var
@import'base/var';
@import'base/color';
// mixin
@import'mixins/mixins';
// reset
@import'base/reset';
// bootstrap

// module
@import'module/btn';
@import'module/color';
@import'module/form';
// common
// layout
@import'layout/header';
@import'layout/footer';

//vendor


//page
@import'page/unstore';
@import 'page/customized';
@import'page/product_detail';
