// 順序
// var
@import'base/var';
@import'base/color';
// mixin
@import'mixins/mixins';
// reset
@import'base/reset';
// bootstrap

// module
@import'module/btn';
@import'module/color';
@import'module/form';
// common
// layout
@import'layout/header';
@import'layout/footer';

//vendor
<<<<<<< HEAD


//page
@import'page/unstore';
<<<<<<< HEAD
@import'page/starsign';
//@import'page/customized';
//@import'page/product_detail';

@import'page/membercentre';
=======
@import'vendor/hamburgers.min';
// @import'vendor/hamburgers';

@import 'page/index'
>>>>>>> Tanya_dev
=======
@import 'page/customized';
@import'page/product_detail';

>>>>>>> evelyn
