//字體規範
$h1: 52px*.7; // 頁面title
$h2: 40px*.7; //商品及題組頁籤tag
$h3: 35px*.7; //心理測驗海報title
$p1: 30px*.7; //頁面英文附標 & 內文
$p2: 25px*.7; //部分內文
$f:  20px*.7;  //Footer 的小字

$ls: 2.5;   //字距
$fontfamily: '思源黑體','raleway';

$a: '../img/';
