@mixin center {
    margin: 0 auto;
}

// @mixin btn{
//     font-size: $h2;
//     width:280px;
//     height:100px;
//     color:transparent;
//     text-align:center;
//     border:4px solid #707070;
//     border-radius:
//     transition: .3s all ease-in-out;
//     cursor:pointer;
//     &:hover{
        
//         }
//     }