//置中
@mixin center {
    margin: 0 auto;
};

//頁碼
@mixin pagination {
    display: flex;
	  text-align: center;
	  justify-content: center;
    font-size: $p2;
    color: white;
    li{
        padding-left: 10px;
    };
    .-on{
            color: #4EACF2;
    };
    
};





@mixin md{
  @media(max-width:992px){
    @content;
  }
}
@mixin pad{
    @media(max-width:768px){
      @content;
    }
  }
@mixin mobile{
    @media(max-width:375px){
      @content;
    }
  }

// 按鈕模組
@mixin btn-module($class, $w, $h){
  #{$class}{
    font-size: $h3 - 2px;
    width: $w * .7px;
    height: $h * .7;
    background-color:transparent;
    text-align:center;
    border: 3px solid #888;
    border-radius: 30px;
    line-height: 1.8;
    cursor:pointer;
    &:hover{
      border: 3px solid rgba(245, 255, 103, 0.5);
    };
    @content;
    
  }
  
}